#mycontent * {
  font-size: 1.2rem;
}
#mycontent .con {
  padding-left: calc(50vw - 8rem);
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  width: 8rem;
}
#res_contain {
  top: 9rem;
}
