<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=cancel"
    />
    <link rel="stylesheet" href="../static/css/intro_index.css" />
    <link rel="stylesheet" href="../static/css/nlp_review.css" />
    <script src="{{url_for('static',filename='js/nlp_review.js')}}"></script>
  </head>
  <body onload="startpage()">
    <h1>╰(*°▽°*)╯ 인공지능솔루션 적대적공격 위협분석 AI보안전문가 2회차</h1>
    <div
      id="main_intro"
      style="background-image: url('../static/img/main_intro.png')"
    >
      <h2
        style="
          margin-bottom: 3rem;
          text-align: center;
          margin: 1rem 0;
          padding: 1rem 0;
          color: rgb(255, 0, 0);
        "
      >
        자연어 처리를 위한 실전모델 구현(영화 리뷰)
      </h2>
      <div id="mycontent" style="text-align: center">
        <label style="width: 12rem">🍳 리뷰문장입력 </label>
        <textarea
          style="display: block; margin: 1rem auto; padding: 0.5rem"
          cols="100"
          rows="3"
          placeholder="리뷰 문장을 입력하세요 10글자 이상 입력하세요"
          id="user_text"
        ></textarea>
        <button id="commitbtn" style="width: 8rem">예측하기</button>
        <button id="resetbtn" style="width: 8rem">리 셋</button>
      </div>
      <br />
      <div
        id="res_contain"
        style="
          padding: 1rem;
          width: calc(99vw - 1.2rem);
          height: calc(99vh - 27rem);
          background: whitesmoke;
          display: block;
          overflow-y: auto;
        "
      ></div>
    </div>
    <div
      id="loader"
      style="
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 99.5vh;
        background: yellow;
        opacity: 0.5;
        width: 99vw;
      "
    ></div>
    <img
      id="mychar"
      src="../static/img/사람.png"
      style="width: 5rem; height: 5rem"
    />
  </body>
</html>
